########################################################
# reTurnServer configuration file
########################################################


########################################################
# Transport settings
########################################################

#TurnAddress parameter is commented out because it will be appended by reTurn_init.sh
#TurnAddress = 0.0.0.0
TurnPort = 3478

#Disable TLS support
TlsTurnPort = 0

########################################################
# Logging settings
########################################################

# Logging Type: syslog|cerr|cout|file
LoggingType = cout

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LoggingLevel = DEBUG
LogFilename = reTurnServer.log
LogFileMaxLines = 50000

########################################################
# UNIX related settings
########################################################

# Must be true or false, default = false, not supported on Windows
Daemonize = false
PidFile = /var/run/reTurnServer/reTurnServer.pid

# UNIX account information to run process as
RunAsUser = return
RunAsGroup = return

########################################################
# Authentication settings
########################################################

# Authentication Realm for Long Term Passwords
AuthenticationRealm = reTurn
UserDatabaseFile = users.txt
UserDatabaseCheckInterval = 60


########################################################
# TURN Allocation settings
########################################################

NonceLifetime = 3600
AllocationPortRangeMin = 49152
AllocationPortRangeMax = 65535
DefaultAllocationLifetime = 600
MaxAllocationLifetime = 3600

########################################################
# Appended parameters here
########################################################
